.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(65, 75, 78);
  color: white;
}
.nav-links{

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
   list-style: none;
}
.nav-link{
  text-decoration: none;
  color: white;
}
.nav-link:hover{
  transition: all 500ms;
}